<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354660752660-j1ke2kjmrnuh5dv71fuqpau0g70i96so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354660752660-j1ke2kjmrnuh5dv71fuqpau0g70i96so</string>
	<key>API_KEY</key>
	<string>AIzaSyBEcinZ2GAmEoIXw5P1qgDO7gBATmX1HO8</string>
	<key>GCM_SENDER_ID</key>
	<string>354660752660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PizzaDelivery.ios</string>
	<key>PROJECT_ID</key>
	<string>pizzadelivery-6d924</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzadelivery-6d924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354660752660:ios:3f572e4b27f211fadaf601</string>
	<key>DATABASE_URL</key>
	<string>https://pizzadelivery-6d924.firebaseio.com</string>
</dict>
</plist>